
body {
    background-image: url("images/background.png");
}

nav {
    background-color: #272D33;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
 
h1 {
    font-family: Helvetica;
    border: 3px solid black;
    text-align: center;
    padding: 10;
    background-color: aliceblue;
}

h2 {
    font-family: Helvetica;
    border: 3px solid black;
    text-align: center;
    background-color: aliceblue;
}

#photo {
    justify-content: space-around ;
   display: flex; 
   padding: 5px;
}

#about_me{
    flex-direction: column;
    display: flex-end;
    font-family: Helvetica;
    background-color: #4392e2;
    padding: 10px;
    width: 45%;
    
}

.music {
    font-family: Helvetica;
    background-color: #e27543;
    padding: 10px;
    justify-content: space-between;
    
}



.items {
    justify-content: space-evenly;
}

#ContactSocial {
    flex-direction: column;
    display: flex-end;
    font-family: Helvetica;
    background-color: #c5e243;
    padding: 10px;
    
}

#songs {
    display: flex;
    justify-content: space-evenly;
}

.Green {
    display: flex;

}

.Blue {
    display: flex;
}
